doctype html
html   
    head
        meta(charset="utf-8")
        title GoodWay
        link(rel="stylesheet" href="styles.css" )
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
        script(src="script/slider2.js")
        script(src="script/store.js")
        script(src="script/feedback.js")
    body
        .wrapper
            header
                a.logo(href="http://mygoodway.ru" title="Spirulina for everybody")
                .contact-add
                    span.contact-add__first-line Санкт-Петербург
                    span.contact-add__second-line Тел: 8 (812) 922 16 74
                    span.contact-add__third-line Почта: yes@mygoodway.ru
                nav.menu-header
                    ul.menu-header__list
                        li.menu-header__unit
                            a(href="http://mygoodway.ru") главная
                        li.menu-header__unit
                            a(href="g-w-2.html") продукция
                        li.menu-header__unit
                            a(href="http://mygoodway.ru") отзывы
                        li.menu-header__unit
                            a(href="http://mygoodway.ru") почему мы
                        li.menu-header__unit
                            a(href="http://mygoodway.ru") обратная связь
                        li.menu-header__unit.menu-header__unit_cart
                            a(href="http://mygoodway.ru")
                                img(src="images/green-cart.svg" alt="store")
                .slider
                    .slider__button.slider__button_prev &lt;
                    .slider__button.slider__button_next >
                    .slider__box
                        .slider__wrap
                            // .slider__content
                                .slider__sign СУПЕР-ЕДА ОТ ПРИРОДЫ ДЛЯ ЗДОРОВЬЯ И КРАСОТЫ
                                .slider__icons
                                    img(src="images/raw-apple.svg")
                                    img(src="images/vegan.svg")
                                    img(src="images/organic.svg")
                                    img(src="images/green-stars.svg")
                            
                            img(src="images/goodway-slide.png")
                            img(src="images/bamboo.png")
                            img(src="images/bamboo.png")
                    // .slider__nav
                        span.slider__un(rel="0")
                        span.slider__un(rel="1")
                        span.slider__un(rel="2")
            .main
                .store
                    .store__cont
                        h4.store__heading продукция
                        .store__button.store__button_prev &lt;
                        .store__button.store__button_next >
                        .store__hider
                            ul.store__entire
                                li.store__item
                                    .store__image
                                        img(src="images/banka.png" alt="spirulina-jar")
                                    h4.store__item-heading органическая спирулина
                                    p.store__description Спирулина - сине-зеленая водоросль,
                                        br
                                        | уникальна тщательно сбалансирован-
                                        br
                                        | ным природой набором витаминов,
                                        br
                                        | белков, минералов, аминокислот...
                                    span.store__price 1500 руб.
                                    .store__but-to-cart
                                        a(href="") в корзину
                                li.store__item
                                    .store__image
                                        img(src="images/banka.png" alt="spirulina-jar")
                                    h4.store__item-heading органическая спирулина
                                    p.store__description Спирулина - сине-зеленая водоросль,
                                        br
                                        | уникальна тщательно сбалансирован-
                                        br
                                        | ным природой набором витаминов,
                                        br
                                        | белков, минералов, аминокислот...
                                    span.store__price 1500 руб.
                                    .store__but-to-cart 
                                        a(href="") в корзину
                                li.store__item
                                    .store__image
                                        img(src="images/banka.png" alt="spirulina-jar")
                                    h4.store__item-heading органическая спирулина
                                    p.store__description Спирулина - сине-зеленая водоросль,
                                        br
                                        | уникальна тщательно сбалансирован-
                                        br
                                        | ным природой набором витаминов,
                                        br
                                        | белков, минералов, аминокислот...
                                    span.store__price 1500 руб.
                                    .store__but-to-cart
                                        a(href="") в корзину
                                li.store__item
                                    .store__image
                                        img(src="images/banka.png" alt="spirulina-jar")
                                    h4.store__item-heading органическая спирулина
                                    p.store__description Спирулина - сине-зеленая водоросль,
                                        br
                                        | уникальна тщательно сбалансирован-
                                        br
                                        | ным природой набором витаминов,
                                        br
                                        | белков, минералов, аминокислот...
                                    span.store__price 1500 руб.
                                    .store__but-to-cart
                                        a(href="") в корзину
                                li.store__item
                                    .store__image
                                        img(src="images/banka.png" alt="spirulina-jar")
                                    h4.store__item-heading органическая спирулина
                                    p.store__description Спирулина - сине-зеленая водоросль,
                                        br
                                        | уникальна тщательно сбалансирован-
                                        br
                                        | ным природой набором витаминов,
                                        br  
                                        | белков, минералов, аминокислот...
                                    span.store__price 1500 руб.
                                    .store__but-to-cart 
                                        a(href="") в корзину
                                li.store__item
                                    .store__image
                                        img(src="images/banka.png" alt="spirulina-jar")
                                    h4.store__item-heading органическая спирулина
                                    p.store__description Спирулина - сине-зеленая водоросль,
                                        br
                                        | уникальна тщательно сбалансирован-
                                        br
                                        | ным природой набором витаминов,
                                        br
                                        | белков, минералов, аминокислот...
                                    span.store__price 1500 руб.
                                    .store__but-to-cart
                                        a(href="") в корзину
                .feedback
                  .feedback__cont
                    h4.feedback__heading отзывы
                    .feedback__button.feedback__button_prev &lt
                    .feedback__button.feedback__button_next >
                    .feedback__hider
                        ul.feedback__entire
                            li.feedback__unit
                                .feedback__arrow-box
                                    p Hеделю уже пользуюсь спирулиной
                                        | good way в таблетках! Супер удобно,
                                        | особенно, когда путешествуешь,
                                        | или перермещаешься в пространстве.
                                        | И ребенок стал есть без уговоров,
                                        | делю пополам и даю разжевывать...
                                span.feedback__name карина радуга
                                span.feedback__date 24/04/2016
                            li.feedback__unit
                                .feedback__arrow-box
                                    p Благодарю! очень вкусная спирулина.
                                        | Очень удобно использовать в таблет-
                                        | ках. Я взяла себе две упаковки и в
                                        | порошке, и в таблетках. Иногда до-
                                        | бавляю в еду порошок, а когда нет времени готовить, то пью в таблетках.
                                span.feedback__name марина довгаш
                                span.feedback__date 24/04/2016
                            li.feedback__unit
                                .feedback__arrow-box
                                    p Ребята, большое спасибо! Отличная
                                        | вещь! Со спирулиной чувствовать
                                        | себя стал гораздо бодрее! Можно
                                        | сказать, прямым образом влияет на
                                        | рабочую продуктивность!) Еще раз
                                        | спасибо, удачи и успехов вам!
                                span.feedback__name игорь ребел
                                span.feedback__date 24/04/2016
                            li.feedback__unit
                                .feedback__arrow-box
                                    p Hеделю уже пользуюсь спирулиной
                                        | good way в таблетках! Супер удобно,
                                        | особенно, когда путешествуешь,
                                        | или перермещаешься в пространстве.
                                        | И ребенок стал есть без уговоров,
                                        | делю пополам и даю разжевывать...
                                span.feedback__name карина радуга
                                span.feedback__date 24/04/2016
                            li.feedback__unit
                                .feedback__arrow-box
                                    p Hеделю уже пользуюсь спирулиной
                                        | good way в таблетках! Супер удобно,
                                        | особенно, когда путешествуешь,
                                        | или перермещаешься в пространстве.
                                        | И ребенок стал есть без уговоров,
                                        | делю пополам и даю разжевывать...
                                span.feedback__name карина радуга
                                span.feedback__date 24/04/2016
                .article
                    h4 почему мы
                    p -Да, есть и другие поставщики, но мы уверены, что наша компания является лучшим выбором для вас, по следующим причинам:
                    p 
                        b Гарантия качества.
                        br
                        | Компания Good Way сотрудничает с проверенными поставщиками, которые производят лучшие суперфуды. Наша продукция имеет все
                        br
                        | надлежащие сертификаты, в том числе EU Organic, USDA, ISO, а также, результаты исследований в Государственном региональном центре
                        br
                        | стандартизации, метрологии и испытаний в г. Санкт-Петербурге и Ленинградской области (ФБУ "Тест-С.-Петербург").
                    p
                        b Природная чистота.
                        br
                        |Наша продукция выращивается без агрохимии в экологически чистых районах в соответствии со стандартами органического сельского хозяйства. Строгий контроль всех стадий производства позволяет донести до Вас суперфуд действительно высшего качества!
                    p
                        b Доступные цены.
                        br
                        |Наш опыт позволяет прочные, долгосрочные отношения с поставщиками со всего мира без посредников. Таким образом, мы можем
                        br
                        | предложить действительно доступные цены. Мы хорошо знаем на своем опыте, каким может быть сжатый бюджет, и делаем все, чтобы Вы
                        br
                        | и Ваш любимый человек могли иметь все радости здоровой, активной жизни без того, чтобы экономить или отказываться от чего-то другого!
                    p Популярный продукт среди людей, выбирающих здоровый образ жизни.
                        br
                        | Уже тысячи людей, среди которых увлеченные йогой, спортсмены, вегетарианцы, веганы, просто люди, выбирающие здоровье и красоту, оценили продукт нашей компании.
                .write-us
                  .write-us__cont
                    h4 обратная связь
                    form(action="")
                        span Имя (обязательно)
                        input(required type="text" name="Your Name")
                        span Эл.почта (не публикуется) (обязательно)
                        input(required type="text" name="e-mail")
                        input(type="text" name="Your message")
            footer
                .info
                  .info__cont
                    ul.info__nav
                        li
                            a(href="http://mygoodway.ru") Главная
                        li
                            a(href="http://mygoodway.ru") Продукция
                        li
                            a(href="http://mygoodway.ru") Отзывы
                        li
                            a(href="http://mygoodway.ru") Почему мы
                        li
                            a(href="http://mygoodway.ru") Обратная связь
                    .info__contact
                        span.info__phone +7(488)940-35-20
                        a(href="mailto:goodway@mygoodway.ru") goodway@mygoodway.ru
                    .info__social
                        a(href="http://facebook.com")
                            img(src="images/fb-green.svg" alt="fb-icon")
                        a(href="http://vk.com")
                            img(src="images/vk-green.svg" alt="vk-icon")
                        a(href="http://twitter.com")
                            img(src="images/twitter-green.svg" alt="twitter-icon")
                        a(href="http//instagram.com")
                            img(src="images/insta-green.svg" alt="instagram-icon")
                .copyright
                  .copyright__cont
                    span Copyright &copy; 20016
                    p все права на материалы, находящиеся на данном сайте, охраняются в соответствии
                        br
                        | с законодательством РФ, в том числе, об авторском праве и смежных правах.
                    