*
  margin 0
  padding 0
  border 0
  // font-size 100%
@font-face 
  font-family A-day-without-sun
  src url(A-day-without-sun.otf)
body
  font-family Calibri, Helvetica, arial, san-serif
  color #777
  background rgb(252,252,252)
  // max-width 1910px
.wrapper
  min-width 1330px
  margin auto
header
  min-width 1330px
  width 100%
  // height 860px
  background #fcfcfc
a 
  text-decoration none
li
  list-style-type none
h4
  color rgb(80, 52, 45)
  font-family A-day-without-sun
  font-size 40px
  font-weight 400
  text-transform uppercase
p, span
  font-size 16px
  // line-height 25px
  letter-spacing 1px
b 
  font-size 100%
.logo
  display inline-block
  vertical-align top
  width 37%
  min-width 400px
  height 223px
  background url(images/goodway-logo.png) center no-repeat
  margin-left 30%
  margin-top 20px
  text-indent 100%
  white-space nowrap
  overflow hidden
.contact-add
  display inline-block
  vertical-align top
  width 320px
  height 140px
  // margin-left 4.2%
  margin-top 80px
  text-align right
.contact-add span
  font-size 20px
  display block
.menu-header
  margin 30px auto
  width 1200px
.menu-header__list
  width 100%
  height 50px
  margin 5px auto
  font-size 0
  // background red
.menu-header__unit
  display inline-block
  vertical-align top
  padding-right 12.3%
.menu-header__unit a
  display block
  height 50px
  line-height 50px
  color rgb(80, 52, 45)
  font-family A-day-without-sun
  font-size 40px
  font-weight 400
  text-transform uppercase/**/
.menu-header__unit a:hover
  color #64b120
.menu-header__unit_cart
  padding-right 0
.menu-header__unit_cart img
  width 45px
  height 45px
  border 1px solid transparent
  border-radius 23px
  position relative
  top 5px

main
 width 100%
.item
  // height 420px
  // width 90%
  background rgb(241,241,241)
.item__cont img
  margin-left 10px
.item__info
  display inline-block
  vertical-align top
  width 60%
  padding-left 3%
  padding-top 5%
.item__det
  width 90%
  font-size 25px
  background #fff
  padding 1.5% 1%
  text-indent 15px
.item__det:nth-child(even)
  background rgb(241,241,241)
.item__det:last-child
  padding 1%
.item__det::first-letter
  text-transform uppercase
.item__det:nth-child(4)
  background rgb(241,241,241) url(images/g-w-rate.svg) 115px -15px no-repeat
.item__but-to-cart
  display inline-block
  vertical-align top
  width 200px
  height 55px
  border 1px solid transparent
  border-radius 30px
  background #64b120 url(images/green-cart.svg) 145px 0 no-repeat
  color #fff
  font-size 21px
  line-height 55px
  text-indent 50px
  margin-left 2%
.item__but-to-cart:first-letter
  text-transform uppercase
.item__but-to-cart a
  font-size  21px
  color #fff
.description  
  width 90%
  max-width 1200px
  margin 2% auto
.description ul
  font-size 0
.description li
  display inline-block
  vertical-align top
  font-size 25px
  padding 1% 2%
  background rgb(241,241,241)
  border 1px solid #ccc
.description li::first-letter
  text-transform uppercase
.description li:first-child
  background #fff
  border-left 2px solid #ccc
  border-bottom 3px solid transparent
.description__describe
  background #fff
  border 2px solid #ccc
  margin-top -3px
.description__describe p
  margin 2%
  font-size 20px
.recomend
  width 100%
  background rgb(241,241,241)
  margin-top 4%
  padding-bottom 4%
.recomend__button
  width 35px
  height 35px
  border 1px solid transparent
  border-radius 18px
  display inline-block
  position relative
  top 350px
  background #ccc
  color #fff
  font-weight 700
  line-height 35px
  text-align center
  font-size 18px
  cursor pointer
.recomend__button_prev
  left 1%
.recomend__button_next
  left 93%
  cursor pointer
.recomend__heading
  padding-top 40px
  padding-left 65px
.recomend__entire
  width 1200px
  margin auto
  overflow hidden
  position relative
.recomend__wrap
  list-style none
  width 10000px
  position relative
  height 680px
  margin-top 22px
  margin-left 20px
.recomend__item
  width 370px
  height 655px
  background #fff
  display inline-block
  vertical-align top
  border 1px solid transparent
  border-radius 15px
  box-shadow 2px 5px 20px rgba(0,0,0,.5)
  text-align center
.recomend__item:nth-child(2)
  margin 0 37px
.recomend__image
  width 330px
  height 320px
  margin 0 auto
.recomend__item-heading
  margin-top 30px
.recomend__quol
  display block
  vertical-align top
  font-size 25px
  color rgb(80, 52, 45)
  font-family A-day-without-sun
  font-weight 100
  margin-top 10px
.recomend__price
  font-size 25px
  font-weight 700
  display block
  margin-top 30px
.recomend__but-to-cart
  width 200px
  height 55px
  border 1px solid transparent
  border-radius 30px
  background #64b120 url(images/green-cart.svg) 145px 0 no-repeat
  color #fff
  font-size 21px
  line-height 55px
  text-indent -5px
  margin 35px auto
.recomend__but-to-cart:first-letter
  text-transform uppercase
.recomend__but-to-cart a
  font-size  21px
  color #fff  
footer
  height 180px
.info 
  height 120px
  background #64b120
.info__nav
  width 450px
  margin-left 65px
  display inline-block
  margin-top 15px
.info__nav a
  color #fff
  font-size 15px
.info__contact
  display inline-block
  vertical-align top
  margin-top 35px
.info__contact span
  display block
  color #fff
.info__contact a
  display block
  color #fff
  font-size 17px
.info__phone
  font-size 21px
  font-weight 700
.info__social
  display inline-block
  vertical-align top
  margin-top 35px
  margin-left 300px
.info__social a
  display inline-block
  vertical-align top
.info__social img
  width 50px
  height 50px
  border 1px solid transparent
  border-radius 23px
.copyright
  height 60px
  background rgb(224,239,210)
.copyright span
  font-size 10px
  display block
  margin-left 65px
  padding-top 10px
.copyright span::after
  content " GOODWAY"
  color #64b120
  font-family A-day-without-sun
.copyright p
  font-size 10px
  display block
  margin-left 65px
  line-height normal
.copyright p:first-letter
  text-transform uppercase
.item__cont, .recomend__cont, .info__cont, .copyright__cont
  max-width 1330px
  margin auto
@media screen and (max-width: 600px)
  .logo
    display block
    margin-left 6%
  .contact-add
    display block
    margin-left 6%
  .menu-header
    display none
  .slider
    display none